[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "lib/dca-v2-core"]
	path = lib/dca-v2-core
	url = https://github.com/mean-finance/dca-v2-core
[submodule "lib/oracles"]
	path = lib/oracles
	url = https://github.com/mean-finance/oracles
